<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serving static</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="card">
 <h1>Welcome to Demo Api</h1>
  <p> This is my first web api application to be tested in production</p>
  <p>Here in this code i am to deploy this application to market.</p>
                                      <b>@Bertcode.py</b>
</div>


</body>
</html>